.orderby a {
  text-decoration: none;
  color: black;
}

.dbtable {

}

.dbtable table {
  width: 100%;
}

.dbtable .rows {
  text-align: right;
}

.dbtable .pages {
  text-align: center;
}

.debug {
  color: #666;
}
.search .g:link{
	color:blue;
}

.search .g:hover, .search .g:visited, .search .g:active {
	color:purple;
};