# http://httpd.apache.org/docs/current/mod/core.html#errordocument

ErrorDocument 404 /~jokd13/oophp/kmom07/404.php
ErrorDocument 500 /~jokd13/oophp/kmom07/500.php
ErrorDocument 403 /~jokd13/oophp/kmom07/403.php

#ErrorDocument 404 "This is a Goofy 404. Document is not here."
